html {
  font-size: 10px;
}

body {
  font-size: 15px;
}


div {
  margin-top: 10px;
}

span {
  display: inline-block;
  border: 1px solid #f00;
  padding: 2px 8px;
}

span + span {
  margin-left: 10px;
}
